* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app h1 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--text-primary);
}
